USE [master]
GO
/****** Object:  Database [TourMate_User]    Script Date: 7/5/2025 1:59:47 PM ******/
CREATE DATABASE [TourMate_User]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TourMate_User', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINEDUCK\MSSQL\DATA\TourMate_User.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TourMate_User_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINEDUCK\MSSQL\DATA\TourMate_User_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TourMate_User].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TourMate_User]
GO
/****** Object:  Table [dbo].[AccountMembership]    Script Date: 7/5/2025 1:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountMembership](
	[accountMembershipId] [int] IDENTITY(1,1) NOT NULL,
	[accountId] [int] NOT NULL,
	[membershipPackageId] [int] NOT NULL,
	[startDate] [date] NOT NULL,
	[endDate] [date] NOT NULL,
	[isActive] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 7/5/2025 1:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerId] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [nvarchar](50) NOT NULL,
	[accountId] [int] NOT NULL,
	[gender] [nvarchar](10) NOT NULL,
	[dateOfBirth] [date] NOT NULL,
	[phone] [varchar](10) NOT NULL,
	[image] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MembershipPackage]    Script Date: 7/5/2025 1:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembershipPackage](
	[membershipPackageId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[price] [real] NOT NULL,
	[duration] [int] NOT NULL,
	[benefitDesc] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourGuide]    Script Date: 7/5/2025 1:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourGuide](
	[tourGuideId] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [nvarchar](50) NOT NULL,
	[gender] [nvarchar](10) NOT NULL,
	[dateOfBirth] [date] NOT NULL,
	[accountId] [int] NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[image] [nvarchar](255) NOT NULL,
	[phone] [varchar](10) NOT NULL,
	[bannerImage] [nvarchar](max) NOT NULL,
	[isVerified] [bit] NOT NULL,
	[bankAccountNumber] [nvarchar](50) NULL,
	[bankName] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourGuideDesc]    Script Date: 7/5/2025 1:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourGuideDesc](
	[tourGuideDescId] [int] IDENTITY(1,1) NOT NULL,
	[tourGuideId] [int] NOT NULL,
	[yearOfExperience] [int] NULL,
	[description] [nvarchar](max) NOT NULL,
	[areaId] [int] NOT NULL,
	[company] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
